h1  {
  color: white;
}

body {
  background: black;
}

canvas {
  border: 1px solid white;
}

#instructions {
  color: white;
  font-weight: bold;
  float: right;
  margin-right: 45px;
}

footer {
  padding-right: 100px;
}

a {
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  float: right;
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
  color: blue;
}

a:hover {
  color: white;
  background-color: blue;
}

/** {cursor: none;}*/
